// f8-card - Framework8 card block
// @copyright 2022 MyThemeIsReady. All Rights Reserved.
//
// Cool card styles :)
//
// NOTE: This block needs the global `box-sizing` value to be `border-box`. If
// it's going to be used in a project that this is not the case, then make sure
// to set the `box-sizing` for all of the elements inside of the block (and also
// the elements that are not inside of the block itself, if there's any elements
// like so) to `border-box`.
//
//
// Requirements:
// - Root Custom Props:       ../_root.scss
// - Variables:               ../_variables.scss
//
// Goes well with:
// - Utils:                   ../utils/_utils.scss
// - Badge:                   ../badge/_badge.scss
// - Link:                    ../link/_link.scss
// - Grid:                    ../grid/_grid.scss
//
//
//
//
// @example
// <!-- CSS custom properties to modify the block styles
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <!--
// <style>
// .f8-card {
//    /* NOTE: Colors have different results when different Effect Modifiers are applied */
//
//    --f8-card-text-color: inherit;
//    --f8-card-bg-color: var(--f8-blocks-def-bg-color);
//
//    --f8-card-figure-holder-bg-color: var(--f8-blocks-def-bg-color);
//
//    --f8-card-head-text-color: inherit;
//    --f8-card-head-bg-color: var(--f8-blocks-def-bg-color);
//
//    --f8-card-foot-text-color: inherit;
//    --f8-card-foot-bg-color: var(--f8-blocks-def-bg-color);
//
//    /* It effects the title and `p` tags bottom margin inside of the block and
//    the body, head, and foot elements' padding. */
//    --f8-card-space: var(--f8-blocks-spacer);
//
//    --f8-card-visual-simple-border-color: var(--f8-blocks-def-hr-color);
//    --f8-card-visual-simple-border-width: 1px;
// }
// </style>
// -->
//
//
//
//
// <!-- Simple cards
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <section class="f8-card" role="alert">
//   Something is here.
// </section>
// <br><br>
//
// <section class="f8-card" role="alert">
//   <div class="f8-card__body">
//     Body is here.
//   </div>
// </section>
// <br><br>
//
//
//
//
// <!-- Color modifiers
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <!-- .f8-card--color-{whitish,blackish,primary,accent,greenish,reddish,yellowish,bluish} -->
//
// <!-- .f8-card--color-fitful-agree: This color modifier is fitful! It lets
// the block to be whtish by default, and be blackish when it is a descendant
// element of an element with a class attribute value that contains "dark". -->
// <!-- .f8-card--color-fitful-against: This color modifier is the opposite of agree fitful color modifier. -->
//
// <section class="f8-card f8-card--color-primary">
//   <header class="f8-card__head">
//     <h4>Head is Here</h4>
//   </header>
//   <div class="f8-card__body">
//     Body is here.
//   </div>
//   <footer class="f8-card__foot">
//     <h4>Foot is Here</h4>
//   </footer>
// </section>
// <br><br>
//
//
//
//
// <!-- Visual modifiers
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <!-- .f8-card--visual-simple: It makes the card block itself, head, and foot
// elements to have borders. And lets the block itself to have a solid
// background color. -->
//
// <div class="f8-card f8-card--visual-simple">
//   <header class="f8-card__head">
//     Head is here
//   </header>
//   <div style="height: 200px;" class="f8-card__figure-holder">
//     <img src="images/01.jpg" class="u8-img-cover" alt="...">
//   </div>
//   <div style="max-height: 200px;" class="f8-card__body u8-chrome-pretty-scroll u8-overflow-y-scroll">
//     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
//   </div>
//    <footer class="f8-card__foot">
//      Foot is here
//    </footer>
// </div>
// <br><br>
//
//
//
//
// <!-- Effect modifiers
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <!-- .f8-card--effect-{zoomer,mover}: These modifiers display the over
// element and animate the img element inside of the figure holder. -->
//
// <section class="f8-card f8-card--effect-mover">
//   <div style="height: 200px;" class="f8-card__figure-holder">
//     <div class="f8-card__over">Hello World</div>
//     <img src="images/01.jpg" class="u8-img-cover" alt="...">
//   </div>
// </section>
// <br><br>
//
//
//
//
// <!-- Overlayed, Link
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <!-- Overleyed element is useful to be used with the img element. It is just
// like the block itself a flex box element, and can have body, head, and foot
// elements inside itself. But unlike the block, it has a absolute position so
// that it can sit over the img element... In this way, any image we put in the
// block, can act as a background image of the overlayed element. -->
//
// <section class="f8-card">
//   <img src="images/01.jpg" class="u8-img-responsive" alt="...">
//   <div class="f8-card__overlayed g8-justify-content-center g8-align-items-center u8-bg-color-neutral u8-text-color-whitish u8-font-size-lg u8-font-weight-bold">
//     You're Awesome
//   </div>
// </section>
// <br><br>
//
//
// <!-- Link element is also just like the block itself a flex box element, and
// can have body, head, and foot elements inside itself. It's useful for the
// times that we like the whole card to be clickable. -->
//
// <div class="f8-card">
//   <a class="f8-card__link" href="#">
//     <img src="images/01.jpg" class="u8-img-responsive" alt="...">
//     <div class="f8-card__body">
//       Some description...
//     </div>
//     <footer class="f8-card__foot">
//       <div>John Doe</div>
//       <em>Founder</em>
//     </footer>
//   </a>
// </div>
// <br><br>
//
//
//
//
// <!-- Body, Head, Foot
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <!-- Head and Foot elements are flex box elements with their
// `justify-content` property set to `space-between`. In this way, any direct
// child of them will be distributed horizontally inside of them in a way that
// looks good. -->
//
// <section class="f8-card">
//   <header class="f8-card__head">
//     <h4 class="u8-m-0">Head is Here</h4>
//   </header>
//   <div class="f8-card__body">
//     Body is here.
//   </div>
//   <footer class="f8-card__foot">
//     Foot is Here
//   </footer>
// </section>
// <br><br>
//
//
//
//
// <!-- Figure Holder
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <!-- Figure Holder is just a flex displayed element that puts its direct
// children at its center and inherits the card's `border-radius` property's
// value. It can be used beside Body, Head, and Foot elements. -->
//
// <div class="f8-card u8-curved">
//   <div class="f8-card__figure-holder u8-border-outline u8-border-color-blackish">
//     <img src="images/01.jpg" class="u8-img-responsive" alt="...">
//   </div>
//  <div class="f8-card__overlayed g8-justify-content-center g8-align-items-center u8-bg-color-neutral u8-text-color-whitish u8-font-size-lg u8-font-weight-bold">
//    You're Awesome
//  </div>
// </div>
// <br><br>
//
//
//
//
// <!-- Over, Title
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <!-- Over is a flex displayed element that puts its direct children at its
// center and is hidden by default. It is ONLY useful when you're using the
// effect modifiers of the block. -->
//
// <section class="f8-card f8-card--effect-zoomer">
//   <div style="height: 200px;" class="f8-card__figure-holder">
//     <div class="f8-card__over">Hello World</div>
//     <img src="images/01.jpg" class="u8-img-cover" alt="...">
//   </div>
// </section>
// <br><br>
//
//
// <!-- Title and any `p` tag inside of the block, will have a 0 `margin-top`
// and their `margin-bottom` will be based on the `--f8-card-space` variable. -->
//
// <section class="f8-card">
//   <div class="f8-card__body">
//     <h4 class="f8-card__title">Card title</h4>
//     This is a short card.
//   </div>
// </section>
// <br><br>
//
//
//
//
// <!-- Let's combine the block with others: Utils, Badge, Link, Grid
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////////////// -->
//
// <section class="f8-card u8-curved" role="alert">
//   <header class="f8-card__head">
//     <h4 class="u8-m-0">Head is Here</h4>
//     <a class="f8-link f8-link--effect-alpha fa fa-times" href="#"></a>
//   </header>
//   <!-- NOTE: Body can have a `max-height` so that its large contents can go under a scrollbar. -->
//   <div style="max-height: 200px;" class="f8-card__body u8-chrome-pretty-scroll u8-overflow-y-scroll">
//     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
//   </div>
// </section>
// <br><br>
//
// <section class="f8-card u8-curved">
//   <img style="height:200px;" src="images/01.jpg" class="u8-img-cover" alt="...">
//   <a class="f8-card__link" href="#">
//     <div class="f8-card__overlayed u8-bg-color-neutral u8-text-color-whitish">
//       <div class="f8-card__body">
//         <h4 class="f8-card__title">Card title</h4>
//         Some description here...
//       </div>
//       <footer class="f8-card__foot u8-bg-filter-blur">
//         <div>John Doe</div>
//         <em>Founder</em>
//       </footer>
//     </div>
//   </a>
// </section>
// <br><br>
//
// <div class="f8-card u8-curved">
//   <a class="f8-card__link" href="#">
//     <div style="height: 200px;" class="f8-card__figure-holder u8-border-outline u8-border-color-blackish u8-bg-color-whitish">
//       <span class="f8-badge f8-badge--color-reddish f8-badge--visual-fixed u8-rounded u8-box-shadow u8-m u8-pos-a u8-s-0 u8-b-0">Special</span>
//       <img src="images/01.jpg" class="u8-img-contain" alt="...">
//     </div>
//     <div class="f8-card__body">
//       Some description...
//     </div>
//   </a>
// </div>
// <br><br>
//
// <section class="f8-card">
//  <a class="u8-pos-a u8-t-0 u8-e-0 u8-p f8-link f8-link--effect-alpha fa fa-times" href="#"></a>
//  <div class="f8-card__body">
//    <h4 class="f8-card__title">Card title</h4>
//    This is a short card.
//  </div>
// </section>
// <br><br>
//
// <section class="g8-container">
//   <div class="g8-row g8-row-cols-1 g8-row-cols-md-3">
//     <div class="g8-col u8-mb">
//
//       <div class="f8-card u8-h-100"> <!-- NOTE: Giving the Blocks a 100% height, make all of the cards in the grid system to have equal height. -->
//         <a class="f8-card__link u8-h-100" href="#">
//           <div class="f8-card__body">
//             <h3 class="u8-m-0">Title</h3>
//           </div>
//           <footer class="f8-card__foot">
//             <div>Category: <strong>Sth</strong></div>
//             <div>Price: <strong>$29</strong></div>
//           </footer>
//         </a>
//       </div>
//
//     </div>
//   </div>
// </section>

@import 'variables';
@import 'mixins';




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Custom Properties

.f8-card {
  --f8-card-text-color: #{$f8-card-text-color-base};
  --f8-card-bg-color: #{$f8-card-bg-color-base};

  --f8-card-figure-holder-bg-color: #{$f8-card-figure-holder-bg-color-base};

  --f8-card-head-text-color: #{$f8-card-head-text-color-base};
  --f8-card-head-bg-color: #{$f8-card-head-bg-color-base};

  --f8-card-foot-text-color: #{$f8-card-foot-text-color-base};
  --f8-card-foot-bg-color: #{$f8-card-foot-bg-color-base};

  --f8-card-space: #{$f8-card-space-base};

  --f8-card-visual-simple-border-color: #{$f8-card-visual-simple-border-color-base};
  --f8-card-visual-simple-border-width: #{$f8-card-visual-simple-border-width-base};
}




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Block

.f8-card {
  position: relative; // To position an absolute positioned Badge block properly, if it has been used inside our card
  display: flex;
  flex-direction: column;

  // It makes the head or foot elements respect the block's 'border-radius'.
  // Also if user has used the overlayed element which has an absolute position
  // and its content exceeds the original card size (that its size can
  // depend on the image that is inside of it!), the outside contents of it
  // won't be shown to have broken look...
  overflow: hidden;

  word-wrap: break-word;

  p {
    margin-top: 0;
    margin-bottom: $f8-card-space;
  }

  @include f8-card-color($f8-card-text-color, $f8-card-head-text-color, $f8-card-foot-text-color, $f8-card-bg-color, $f8-card-head-bg-color, $f8-card-foot-bg-color, $f8-card-figure-holder-bg-color, $f8-card-visual-simple-border-color);


  // Block Specific Styles: Utils
  &.u8-rounded {
    border-radius: $f8-blocks-border-radius !important; // Why? Because rounded corners don't look good on cards!
  }
}


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Modifiers: Color

.f8-card--color-fitful-agree {
  --f8-card-bg-color: #{$f8-blocks-whitish-alpha-color};

  --f8-card-head-text-color: #{$f8-color-000};
  --f8-card-head-bg-color: #{$f8-blocks-whitish-color};

  --f8-card-foot-text-color: #{$f8-color-000};
  --f8-card-foot-bg-color: #{$f8-blocks-whitish-color};

  --f8-card-visual-simple-border-color: rgba(51, 51, 51, 0.2);

  [class*="dark"] & {
    --f8-card-bg-color: #{$f8-blocks-blackish-alpha-color};

    --f8-card-head-text-color: #{$f8-color-fff};
    --f8-card-head-bg-color: #{$f8-blocks-blackish-color};

    --f8-card-foot-text-color: #{$f8-color-fff};
    --f8-card-foot-bg-color: #{$f8-blocks-blackish-color};

    --f8-card-visual-simple-border-color: rgba(221, 221, 221, 0.4);
  }
}

.f8-card--color-fitful-against {
  --f8-card-bg-color: #{$f8-blocks-blackish-alpha-color};

  --f8-card-head-text-color: #{$f8-color-fff};
  --f8-card-head-bg-color: #{$f8-blocks-blackish-color};

  --f8-card-foot-text-color: #{$f8-color-fff};
  --f8-card-foot-bg-color: #{$f8-blocks-blackish-color};

  --f8-card-visual-simple-border-color: rgba(221, 221, 221, 0.4);

  [class*="dark"] & {
    --f8-card-bg-color: #{$f8-blocks-whitish-alpha-color};

    --f8-card-head-text-color: #{$f8-color-000};
    --f8-card-head-bg-color: #{$f8-blocks-whitish-color};

    --f8-card-foot-text-color: #{$f8-color-000};
    --f8-card-foot-bg-color: #{$f8-blocks-whitish-color};

    --f8-card-visual-simple-border-color: rgba(51, 51, 51, 0.2);
  }
}


.f8-card--color-whitish {
  --f8-card-bg-color: #{$f8-blocks-whitish-alpha-color};

  --f8-card-head-text-color: #{$f8-color-000};
  --f8-card-head-bg-color: #{$f8-blocks-whitish-color};

  --f8-card-foot-text-color: #{$f8-color-000};
  --f8-card-foot-bg-color: #{$f8-blocks-whitish-color};

  --f8-card-visual-simple-border-color: rgba(51, 51, 51, 0.2);
}

.f8-card--color-blackish {
  --f8-card-bg-color: #{$f8-blocks-blackish-alpha-color};

  --f8-card-head-text-color: #{$f8-color-fff};
  --f8-card-head-bg-color: #{$f8-blocks-blackish-color};

  --f8-card-foot-text-color: #{$f8-color-fff};
  --f8-card-foot-bg-color: #{$f8-blocks-blackish-color};

  --f8-card-visual-simple-border-color: rgba(221, 221, 221, 0.4);
}

.f8-card--color-primary {
  --f8-card-bg-color: #{$f8-blocks-primary-alpha-color};

  --f8-card-head-text-color: #{$f8-color-fff};
  --f8-card-head-bg-color: #{$f8-blocks-primary-color};

  --f8-card-foot-text-color: #{$f8-color-fff};
  --f8-card-foot-bg-color: #{$f8-blocks-primary-color};

  --f8-card-visual-simple-border-color: rgba(221, 221, 221, 0.4);
}

.f8-card--color-accent {
  --f8-card-bg-color: #{$f8-blocks-accent-alpha-color};

  --f8-card-head-text-color: #{$f8-color-fff};
  --f8-card-head-bg-color: #{$f8-blocks-accent-color};

  --f8-card-foot-text-color: #{$f8-color-fff};
  --f8-card-foot-bg-color: #{$f8-blocks-accent-color};

  --f8-card-visual-simple-border-color: rgba(221, 221, 221, 0.4);
}

.f8-card--color-greenish {
  --f8-card-bg-color: #{$f8-blocks-greenish-alpha-color};

  --f8-card-head-text-color: #{$f8-color-fff};
  --f8-card-head-bg-color: #{$f8-blocks-greenish-color};

  --f8-card-foot-text-color: #{$f8-color-fff};
  --f8-card-foot-bg-color: #{$f8-blocks-greenish-color};

  --f8-card-visual-simple-border-color: rgba(221, 221, 221, 0.4);
}

.f8-card--color-reddish {
  --f8-card-bg-color: #{$f8-blocks-reddish-alpha-color};

  --f8-card-head-text-color: #{$f8-color-fff};
  --f8-card-head-bg-color: #{$f8-blocks-reddish-color};

  --f8-card-foot-text-color: #{$f8-color-fff};
  --f8-card-foot-bg-color: #{$f8-blocks-reddish-color};

  --f8-card-visual-simple-border-color: rgba(221, 221, 221, 0.4);
}

.f8-card--color-yellowish {
  --f8-card-bg-color: #{$f8-blocks-yellowish-alpha-color};

  --f8-card-head-text-color: #{$f8-color-fff};
  --f8-card-head-bg-color: #{$f8-blocks-yellowish-color};

  --f8-card-foot-text-color: #{$f8-color-fff};
  --f8-card-foot-bg-color: #{$f8-blocks-yellowish-color};

  --f8-card-visual-simple-border-color: rgba(221, 221, 221, 0.4);
}

.f8-card--color-bluish {
  --f8-card-bg-color: #{$f8-blocks-bluish-alpha-color};

  --f8-card-head-text-color: #{$f8-color-fff};
  --f8-card-head-bg-color: #{$f8-blocks-bluish-color};

  --f8-card-foot-text-color: #{$f8-color-fff};
  --f8-card-foot-bg-color: #{$f8-blocks-bluish-color};

  --f8-card-visual-simple-border-color: rgba(221, 221, 221, 0.4);
}


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Modifiers: Visual

.f8-card--visual-simple {
  border-width: $f8-card-visual-simple-border-width;
  border-style: solid;


  //////////////////////////////////////////////////////////////////////////////
  /// Element(s): Body, Head, Foot

  .f8-card__head,
  .f8-card__foot {
    border-width: 0;
    border-style: solid;
  }

  .f8-card__head {
    border-bottom-width: $f8-card-visual-simple-border-width;
  }
  .f8-card__foot {
    border-top-width: $f8-card-visual-simple-border-width;
  }
}


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Modifiers: Effect

.f8-card--effect-zoomer,
.f8-card--effect-mover {

  &:hover {

    ////////////////////////////////////////////////////////////////////////////
    /// Element(s): Over, Title

    .f8-card__over {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }


  //////////////////////////////////////////////////////////////////////////////
  /// Element(s): Over, Title

  .f8-card__over {
    will-change: transform;
  }
}


.f8-card--effect-zoomer {

  &:hover {
    ////////////////////////////////////////////////////////////////////////////
    /// Element(s): Figure Holder

    .f8-card__figure-holder {
      img {
        transform: scale(1.1, 1.1);
      }
    }


    ////////////////////////////////////////////////////////////////////////////
    /// Element(s): Over, Title

    .f8-card__over {
      transform: scale(1, 1);
    }
  }


  //////////////////////////////////////////////////////////////////////////////
  /// Element(s): Over, Title

  .f8-card__over {
    transform: scale(1.1, 1.1);
  }
}

.f8-card--effect-mover {

  &:hover {
    ////////////////////////////////////////////////////////////////////////////
    /// Element(s): Figure Holder

    .f8-card__figure-holder {
      img {
        transform: scale(1.1, 1.1) translateY((-9% / 2));
      }
    }


    ////////////////////////////////////////////////////////////////////////////
    /// Element(s): Over, Title

    .f8-card__over {
      transform: translateY(0);
    }
  }


  ////////////////////////////////////////////////////////////////////////////
  /// Element(s): Figure Holder

  .f8-card__figure-holder {
    img {
      transform: scale(1.1, 1.1) translateY((9% / 2));
    }
  }


  //////////////////////////////////////////////////////////////////////////////
  /// Element(s): Over, Title

  .f8-card__over {
    transform: translateY(10%);
  }
}




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Element(s): Overlayed, Link

.f8-card__overlayed,
.f8-card__link {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;

  // Why 100% width and height? Becase if the card block itself has a 100%
  // width or height to cover its container... Then the link element (which hold
  // everything else inside itself) must also cover the whole block (that means
  // covering the block's container).
  width: 100%;
  height: 100%;
}


.f8-card__overlayed {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.f8-card__link {
  &,
  &:hover,
  &:active,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Element(s): Body, Head, Foot

.f8-card__body,
.f8-card__head,
.f8-card__foot {
  padding: $f8-card-space;
}


.f8-card__body {
  flex: 1 1 auto; // take any remaining space
}

.f8-card__head,
.f8-card__foot {
  // NOTE: Let header/footer to not shrink more than the space that it needs! In
  // this way, if body has `overflow-y: scroll;` and has a long content, it
  // doesn't shrink header/footer and cause its content to get out of its
  // boundaries.
  // We also don't let them to grow more than what they need to! Why? Because if
  // header/footer is used inside of the overlayed element, if overlayed is
  // large, header/footer may take space more than what they need to... And it
  // doesn't look pretty! In what cases overlayed may be large? Well, the height
  // of the overlayed is based on the img element! So if img is large, it causes
  // overlayed and the whole card block to be large!
  flex: 0 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Element(s): Figure Holder

.f8-card__figure-holder {
  position: relative;  // To position an absolute positioned Badge block properly, if it has been used inside our card

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  // NOTE: Let flex property have the default values. It lets the element to
  // shrink if needed! Why? Because the img holder element is going to be used
  // at the level of the head/body/foot elements... And body may need more
  // space to show its content in the situations that the whole card block has a
  // fixed height... So by the default flex propery values, body can shrink the
  // img holder element as necessary.
  // flex: 0 1 auto;

  overflow: hidden;

  img {
    transition: all $f8-card-transition-duration;
    transition-timing-function: $f8-card-transition-timing-fun;
  }


  // Block Specific Styles: Utils
  .u8-curved &,
  .u8-rounded & {
    // Why? Because although the Card block itself has its `overflow` set to
    // `hidden` and the edges of the image holder won't be shown... But still
    // user may like to have a border for this element! And if we don't set its
    // `border-radius` property accordingly, the border edges would seem cutted.
    border-radius: $f8-blocks-border-radius;

    // Reset rounded corners
    &:first-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }
}



////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Element(s): Over, Title

.f8-card__over {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all $f8-card-transition-duration;
  transition-timing-function: $f8-card-transition-timing-fun;
  z-index: 1; // Without this, in the zoomer effect, the element goes under the img element of the figure holder.
}

.f8-card__title {
  margin-top: 0;
  margin-bottom: $f8-card-space;
}
