// Mixins - Useful mixins designed to reduce duplication.
// @copyright 2022 MyThemeIsReady. All Rights Reserved.




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Color

@mixin f8-card-color($color, $head-color, $foot-color, $bg-color, $head-bg-color, $foot-bg-color, $figure-bg-color, $visual-simple-border-color) {
  background-color: $bg-color;
  color: $color;

  // Modifier Specific Styles: .f8-card--visual-simple
  &.f8-card--visual-simple {
    color: $head-color;
    border-color: $visual-simple-border-color;
    background-color: $head-bg-color;

    ////////////////////////////////////////////////////////////////////////////
    /// Element(s): Body, Head, Foot

    .f8-card__head,
    .f8-card__foot {
      border-color: $visual-simple-border-color;
      background-color: transparent;
    }


    ////////////////////////////////////////////////////////////////////////////
    /// Element(s): Figure Holder

    .f8-card__figure-holder {
      background-color: transparent;
    }
  }


  //////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////
  /// Element(s): Body, Head, Foot

  .f8-card__head {
    color: $head-color;
    background-color: $head-bg-color;

    h1, h2, h3, h4, h5, h6 {
      color: $head-color;
    }
  }

  .f8-card__foot {
    color: $foot-color;
    background-color: $foot-bg-color;

    h1, h2, h3, h4, h5, h6 {
      color: $foot-color;
    }
  }


  //////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////
  /// Element(s): Figure Holder

  .f8-card__figure-holder {
    background-color: $figure-bg-color;
  }


  //////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////
  /// Element(s): Over, Title

  .f8-card__title {
    color: $color;
  }
}
