// Variables - Basic settings.
// @copyright 2022 MyThemeIsReady. All Rights Reserved.




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Color

// Root Bases
$f8-card-text-color-base:                             inherit !default;
$f8-card-bg-color-base:                               $f8-blocks-def-bg-color !default;
$f8-card-figure-holder-bg-color-base:                 $f8-blocks-def-bg-color !default;

$f8-card-head-text-color-base:                        inherit !default;
$f8-card-head-bg-color-base:                          $f8-blocks-def-bg-color !default;

$f8-card-foot-text-color-base:                        inherit !default;
$f8-card-foot-bg-color-base:                          $f8-blocks-def-bg-color !default;

$f8-card-visual-simple-border-color-base:             $f8-blocks-def-hr-color !default;


// Usefuls
$f8-card-text-color:                                  var(--f8-card-text-color) !default;
$f8-card-bg-color:                                    var(--f8-card-bg-color) !default;
$f8-card-figure-holder-bg-color:                      var(--f8-card-figure-holder-bg-color) !default;

$f8-card-head-text-color:                             var(--f8-card-head-text-color) !default;
$f8-card-head-bg-color:                               var(--f8-card-head-bg-color) !default;

$f8-card-foot-text-color:                             var(--f8-card-foot-text-color) !default;
$f8-card-foot-bg-color:                               var(--f8-card-foot-bg-color) !default;

$f8-card-visual-simple-border-color:                  var(--f8-card-visual-simple-border-color) !default;




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Size

// Root Bases
$f8-card-visual-simple-border-width-base:             1px !default;


// Usefuls
$f8-card-visual-simple-border-width:                  var(--f8-card-visual-simple-border-width) !default;




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Spacing

// Root Bases
$f8-card-space-base:                                  $f8-blocks-spacer !default;


// Usefuls
$f8-card-space:                                       var(--f8-card-space) !default;




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Misc

// Var Sets
$f8-card-transition-duration:                         .5s !default;
$f8-card-transition-timing-fun:                       cubic-bezier(.09, .68, 0, .99) !default;
