// Root - Root CSS variables
// @author 2023 ImAliTavakoli. All Rights Reserved.




:root {
  --m-selection-bg-color:             #{$m-selection-bg-color-base};

  --m-headings-font-family:           #{$m-headings-font-family-base};
  --m-font-family:                    #{$m-font-family-base};
  --m-font-size:                      #{$m-font-size-base};              // Base of font sizes. Other font sizes will be set according to this.
  --m-line-height:                    #{$m-line-height-base};

  --m-headings-color:                 #{$m-headings-color-base};
  --m-text-color:                     #{$m-text-color-base};
  --m-text-link-color:                #{$m-text-link-color-base};

  --m-bg-color:                       #{$m-bg-color-base};

  --m-spacer:                         #{$m-spacer-base};                 // Base of margins & paddings. Other spaces will be set according to this.
}
